
svg {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.background {
  fill: #eee;
}

select {
  font-size: small;
  position: absolute;
  width: 120px;
}

line {
  stroke: #fff;
}

text.active {
  fill: red;
}


